In [1]:
import pandas as pd

In [2]:
bkzips = pd.read_csv("brooklyn_zips.csv")
bkzips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   zip     36 non-null     int64
dtypes: int64(1)
memory usage: 416.0 bytes

In [3]:
givetake = pd.read_csv("donor_spend_zip.csv")
givetake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   zip                44 non-null     int64
 1   amount - donors    44 non-null     int64
 2   amount - spending  44 non-null     int64
dtypes: int64(3)
memory usage: 1.2 KB

In [4]:
merged_df = pd.merge(bkzips, givetake, on="zip" )
merged_df

      zip  amount - donors  amount - spending
0   11201            73303              32446
1   11203            11290               8305
2   11204            13080               5834
3   11205            36060              12939
4   11206            26185              10332
5   11207             7145              11050
6   11208             2495               8728
7   11209            56765               3258
8   11210            49715               3502
9   11211            28231               5872
10  11213            19500               5872
11  11214            21235               1522
12  11215            29510               4240
13  11216            18447               5966
14  11217            15300               7281
15  11218            16450               2594
16  11219            41935               3668
17  11220            20219               2059
18  11221            19341               4851
19  11222            19640                773
20  11223            85713               2435
21  11224            12825               3444
22  11225            16245              10165
23  11226            18875              10851
24  11228            28363               1135
25  11229            25936               3441
26  11230            73398               2572
27  11231            20410               3345
28  11232            13150               1505
29  11233            27379              13311
30  11234           147722               2310
31  11235            91510               3111
32  11236            24540               3460
33  11237             4990               3397
34  11238            25040              10715
35  11239             1425                970

In [5]:
#multiply amount - spending column by 1000 to create the true number; original data was in thousands
merged_df["amount - spending"] = 1000 * merged_df["amount - spending"]
merged_df

      zip  amount - donors  amount - spending
0   11201            73303           32446000
1   11203            11290            8305000
2   11204            13080            5834000
3   11205            36060           12939000
4   11206            26185           10332000
5   11207             7145           11050000
6   11208             2495            8728000
7   11209            56765            3258000
8   11210            49715            3502000
9   11211            28231            5872000
10  11213            19500            5872000
11  11214            21235            1522000
12  11215            29510            4240000
13  11216            18447            5966000
14  11217            15300            7281000
15  11218            16450            2594000
16  11219            41935            3668000
17  11220            20219            2059000
18  11221            19341            4851000
19  11222            19640             773000
20  11223            85713            2435000
21  11224            12825            3444000
22  11225            16245           10165000
23  11226            18875           10851000
24  11228            28363            1135000
25  11229            25936            3441000
26  11230            73398            2572000
27  11231            20410            3345000
28  11232            13150            1505000
29  11233            27379           13311000
30  11234           147722            2310000
31  11235            91510            3111000
32  11236            24540            3460000
33  11237             4990            3397000
34  11238            25040           10715000
35  11239             1425             970000

In [6]:
#change column names to Donations, Capital Spending
merged_df = merged_df.rename(columns ={"amount - donors":"donations", "amount - spending":"capital spending"})
merged_df

      zip  donations  capital spending
0   11201      73303          32446000
1   11203      11290           8305000
2   11204      13080           5834000
3   11205      36060          12939000
4   11206      26185          10332000
5   11207       7145          11050000
6   11208       2495           8728000
7   11209      56765           3258000
8   11210      49715           3502000
9   11211      28231           5872000
10  11213      19500           5872000
11  11214      21235           1522000
12  11215      29510           4240000
13  11216      18447           5966000
14  11217      15300           7281000
15  11218      16450           2594000
16  11219      41935           3668000
17  11220      20219           2059000
18  11221      19341           4851000
19  11222      19640            773000
20  11223      85713           2435000
21  11224      12825           3444000
22  11225      16245          10165000
23  11226      18875          10851000
24  11228      28363           1135000
25  11229      25936           3441000
26  11230      73398           2572000
27  11231      20410           3345000
28  11232      13150           1505000
29  11233      27379          13311000
30  11234     147722           2310000
31  11235      91510           3111000
32  11236      24540           3460000
33  11237       4990           3397000
34  11238      25040          10715000
35  11239       1425            970000

In [7]:
merged_df.sort_values("capital spending", ascending = False)

      zip  donations  capital spending
0   11201      73303          32446000
29  11233      27379          13311000
3   11205      36060          12939000
5   11207       7145          11050000
23  11226      18875          10851000
34  11238      25040          10715000
4   11206      26185          10332000
22  11225      16245          10165000
6   11208       2495           8728000
1   11203      11290           8305000
14  11217      15300           7281000
13  11216      18447           5966000
9   11211      28231           5872000
10  11213      19500           5872000
2   11204      13080           5834000
18  11221      19341           4851000
12  11215      29510           4240000
16  11219      41935           3668000
8   11210      49715           3502000
32  11236      24540           3460000
21  11224      12825           3444000
25  11229      25936           3441000
33  11237       4990           3397000
27  11231      20410           3345000
7   11209      56765           3258000
31  11235      91510           3111000
15  11218      16450           2594000
26  11230      73398           2572000
20  11223      85713           2435000
30  11234     147722           2310000
17  11220      20219           2059000
11  11214      21235           1522000
28  11232      13150           1505000
24  11228      28363           1135000
35  11239       1425            970000
19  11222      19640            773000

In [8]:
merged_df.sort_values("donations", ascending = False)

      zip  donations  capital spending
30  11234     147722           2310000
31  11235      91510           3111000
20  11223      85713           2435000
26  11230      73398           2572000
0   11201      73303          32446000
7   11209      56765           3258000
8   11210      49715           3502000
16  11219      41935           3668000
3   11205      36060          12939000
12  11215      29510           4240000
24  11228      28363           1135000
9   11211      28231           5872000
29  11233      27379          13311000
4   11206      26185          10332000
25  11229      25936           3441000
34  11238      25040          10715000
32  11236      24540           3460000
11  11214      21235           1522000
27  11231      20410           3345000
17  11220      20219           2059000
19  11222      19640            773000
10  11213      19500           5872000
18  11221      19341           4851000
23  11226      18875          10851000
13  11216      18447           5966000
15  11218      16450           2594000
22  11225      16245          10165000
14  11217      15300           7281000
28  11232      13150           1505000
2   11204      13080           5834000
21  11224      12825           3444000
1   11203      11290           8305000
5   11207       7145          11050000
33  11237       4990           3397000
6   11208       2495           8728000
35  11239       1425            970000

In [9]:
#what's the ratio of capital spending to donations across Brooklyn?
merged_df["ratio"] = merged_df["capital spending"]/merged_df["donations"]
merged_df

      zip  donations  capital spending        ratio
0   11201      73303          32446000   442.628542
1   11203      11290           8305000   735.606732
2   11204      13080           5834000   446.024465
3   11205      36060          12939000   358.818636
4   11206      26185          10332000   394.577048
5   11207       7145          11050000  1546.536039
6   11208       2495           8728000  3498.196393
7   11209      56765           3258000    57.394521
8   11210      49715           3502000    70.441517
9   11211      28231           5872000   207.998300
10  11213      19500           5872000   301.128205
11  11214      21235           1522000    71.674123
12  11215      29510           4240000   143.680108
13  11216      18447           5966000   323.413021
14  11217      15300           7281000   475.882353
15  11218      16450           2594000   157.689970
16  11219      41935           3668000    87.468702
17  11220      20219           2059000   101.834908
18  11221      19341           4851000   250.814332
19  11222      19640            773000    39.358452
20  11223      85713           2435000    28.408759
21  11224      12825           3444000   268.538012
22  11225      16245          10165000   625.730994
23  11226      18875          10851000   574.887417
24  11228      28363           1135000    40.016923
25  11229      25936           3441000   132.672733
26  11230      73398           2572000    35.041827
27  11231      20410           3345000   163.890250
28  11232      13150           1505000   114.448669
29  11233      27379          13311000   486.175536
30  11234     147722           2310000    15.637481
31  11235      91510           3111000    33.996285
32  11236      24540           3460000   140.994295
33  11237       4990           3397000   680.761523
34  11238      25040          10715000   427.915335
35  11239       1425            970000   680.701754

In [10]:
#which zip has the highest ratio?
merged_df.sort_values("ratio", ascending = False)

      zip  donations  capital spending        ratio
6   11208       2495           8728000  3498.196393
5   11207       7145          11050000  1546.536039
1   11203      11290           8305000   735.606732
33  11237       4990           3397000   680.761523
35  11239       1425            970000   680.701754
22  11225      16245          10165000   625.730994
23  11226      18875          10851000   574.887417
29  11233      27379          13311000   486.175536
14  11217      15300           7281000   475.882353
2   11204      13080           5834000   446.024465
0   11201      73303          32446000   442.628542
34  11238      25040          10715000   427.915335
4   11206      26185          10332000   394.577048
3   11205      36060          12939000   358.818636
13  11216      18447           5966000   323.413021
10  11213      19500           5872000   301.128205
21  11224      12825           3444000   268.538012
18  11221      19341           4851000   250.814332
9   11211      28231           5872000   207.998300
27  11231      20410           3345000   163.890250
15  11218      16450           2594000   157.689970
12  11215      29510           4240000   143.680108
32  11236      24540           3460000   140.994295
25  11229      25936           3441000   132.672733
28  11232      13150           1505000   114.448669
17  11220      20219           2059000   101.834908
16  11219      41935           3668000    87.468702
11  11214      21235           1522000    71.674123
8   11210      49715           3502000    70.441517
7   11209      56765           3258000    57.394521
24  11228      28363           1135000    40.016923
19  11222      19640            773000    39.358452
26  11230      73398           2572000    35.041827
31  11235      91510           3111000    33.996285
20  11223      85713           2435000    28.408759
30  11234     147722           2310000    15.637481

In [11]:
#divide capital spending by 1000 then find the ratio to donation
merged_df["capital spending"] = merged_df["capital spending"]/1000
merged_df
#suppress scientific notation
#pd.options.display.float_format = "{:.0f}".format

      zip  donations  capital spending        ratio
0   11201      73303           32446.0   442.628542
1   11203      11290            8305.0   735.606732
2   11204      13080            5834.0   446.024465
3   11205      36060           12939.0   358.818636
4   11206      26185           10332.0   394.577048
5   11207       7145           11050.0  1546.536039
6   11208       2495            8728.0  3498.196393
7   11209      56765            3258.0    57.394521
8   11210      49715            3502.0    70.441517
9   11211      28231            5872.0   207.998300
10  11213      19500            5872.0   301.128205
11  11214      21235            1522.0    71.674123
12  11215      29510            4240.0   143.680108
13  11216      18447            5966.0   323.413021
14  11217      15300            7281.0   475.882353
15  11218      16450            2594.0   157.689970
16  11219      41935            3668.0    87.468702
17  11220      20219            2059.0   101.834908
18  11221      19341            4851.0   250.814332
19  11222      19640             773.0    39.358452
20  11223      85713            2435.0    28.408759
21  11224      12825            3444.0   268.538012
22  11225      16245           10165.0   625.730994
23  11226      18875           10851.0   574.887417
24  11228      28363            1135.0    40.016923
25  11229      25936            3441.0   132.672733
26  11230      73398            2572.0    35.041827
27  11231      20410            3345.0   163.890250
28  11232      13150            1505.0   114.448669
29  11233      27379           13311.0   486.175536
30  11234     147722            2310.0    15.637481
31  11235      91510            3111.0    33.996285
32  11236      24540            3460.0   140.994295
33  11237       4990            3397.0   680.761523
34  11238      25040           10715.0   427.915335
35  11239       1425             970.0   680.701754

In [12]:
#find ratio between new "per 1000 capital spending" with donations
merged_df["per 1000 ratio"] = merged_df["capital spending"]/merged_df["donations"]
merged_df

      zip  donations  capital spending        ratio  per 1000 ratio
0   11201      73303           32446.0   442.628542        0.442629
1   11203      11290            8305.0   735.606732        0.735607
2   11204      13080            5834.0   446.024465        0.446024
3   11205      36060           12939.0   358.818636        0.358819
4   11206      26185           10332.0   394.577048        0.394577
5   11207       7145           11050.0  1546.536039        1.546536
6   11208       2495            8728.0  3498.196393        3.498196
7   11209      56765            3258.0    57.394521        0.057395
8   11210      49715            3502.0    70.441517        0.070442
9   11211      28231            5872.0   207.998300        0.207998
10  11213      19500            5872.0   301.128205        0.301128
11  11214      21235            1522.0    71.674123        0.071674
12  11215      29510            4240.0   143.680108        0.143680
13  11216      18447            5966.0   323.413021        0.323413
14  11217      15300            7281.0   475.882353        0.475882
15  11218      16450            2594.0   157.689970        0.157690
16  11219      41935            3668.0    87.468702        0.087469
17  11220      20219            2059.0   101.834908        0.101835
18  11221      19341            4851.0   250.814332        0.250814
19  11222      19640             773.0    39.358452        0.039358
20  11223      85713            2435.0    28.408759        0.028409
21  11224      12825            3444.0   268.538012        0.268538
22  11225      16245           10165.0   625.730994        0.625731
23  11226      18875           10851.0   574.887417        0.574887
24  11228      28363            1135.0    40.016923        0.040017
25  11229      25936            3441.0   132.672733        0.132673
26  11230      73398            2572.0    35.041827        0.035042
27  11231      20410            3345.0   163.890250        0.163890
28  11232      13150            1505.0   114.448669        0.114449
29  11233      27379           13311.0   486.175536        0.486176
30  11234     147722            2310.0    15.637481        0.015637
31  11235      91510            3111.0    33.996285        0.033996
32  11236      24540            3460.0   140.994295        0.140994
33  11237       4990            3397.0   680.761523        0.680762
34  11238      25040           10715.0   427.915335        0.427915
35  11239       1425             970.0   680.701754        0.680702

In [13]:
merged_df.sort_values("per 1000 ratio", ascending = False)

      zip  donations  capital spending        ratio  per 1000 ratio
6   11208       2495            8728.0  3498.196393        3.498196
5   11207       7145           11050.0  1546.536039        1.546536
1   11203      11290            8305.0   735.606732        0.735607
33  11237       4990            3397.0   680.761523        0.680762
35  11239       1425             970.0   680.701754        0.680702
22  11225      16245           10165.0   625.730994        0.625731
23  11226      18875           10851.0   574.887417        0.574887
29  11233      27379           13311.0   486.175536        0.486176
14  11217      15300            7281.0   475.882353        0.475882
2   11204      13080            5834.0   446.024465        0.446024
0   11201      73303           32446.0   442.628542        0.442629
34  11238      25040           10715.0   427.915335        0.427915
4   11206      26185           10332.0   394.577048        0.394577
3   11205      36060           12939.0   358.818636        0.358819
13  11216      18447            5966.0   323.413021        0.323413
10  11213      19500            5872.0   301.128205        0.301128
21  11224      12825            3444.0   268.538012        0.268538
18  11221      19341            4851.0   250.814332        0.250814
9   11211      28231            5872.0   207.998300        0.207998
27  11231      20410            3345.0   163.890250        0.163890
15  11218      16450            2594.0   157.689970        0.157690
12  11215      29510            4240.0   143.680108        0.143680
32  11236      24540            3460.0   140.994295        0.140994
25  11229      25936            3441.0   132.672733        0.132673
28  11232      13150            1505.0   114.448669        0.114449
17  11220      20219            2059.0   101.834908        0.101835
16  11219      41935            3668.0    87.468702        0.087469
11  11214      21235            1522.0    71.674123        0.071674
8   11210      49715            3502.0    70.441517        0.070442
7   11209      56765            3258.0    57.394521        0.057395
24  11228      28363            1135.0    40.016923        0.040017
19  11222      19640             773.0    39.358452        0.039358
26  11230      73398            2572.0    35.041827        0.035042
31  11235      91510            3111.0    33.996285        0.033996
20  11223      85713            2435.0    28.408759        0.028409
30  11234     147722            2310.0    15.637481        0.015637